.btn-primary{
    background-color:  #809fff!important;
    border-color: #809fff!important;
 }
 .end_section{
    color:  #809fff!important;
    }
    .end_section:hover{
        color:black!important;
    text-decoration: none;
    }