
.bg-light-header
{background-color: #809fff!important;}
.nav-link{
    color:#ebebe0 !important;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}


.searchsection{
    background-image: url('../images/img-book.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    height: 399px;
    
}
.card{
display: none;
}

.popular{
color: #809fff!important;}

.search{
    font-weight: 600!important;
    font-size: 15px;
}
.localcard{
    margin-right: 6%;
}
.icon{
    padding: inherit;
    padding-right: 7px;
}
.black-text{
    font-size:large ;
    font-weight: 600;
}

.navLink{
    list-style: none!important;
    display: flex!important;
    
margin-top: 5px!important;
}
.contact{
    background-color: unset;
}

.modal-title{
    color:  #809fff!important;

}
.agent{
    color:  #809fff!important;
}
.user{
    font-size: 22px;
    font-weight: 900;
    /* text-align: center; */
    padding-left: 15px;
}
.users:hover{
    text-decoration: none;
}
.margin{
    margin-top: 7%;
}
.log_in{
    background-color:  #809fff!important;
    font-size: 15px;
}
.navbar-brand{
    padding-top: 0px!important
}
@media (max-width: 768px)  {
    .searchcontent{
       font-size: 20px;
       margin-top: 2%;
    }
   .btn-group{
       margin-top: 10%;
   }
   .btn2 {
    margin-left: 0px!important;
    font-size: 16px!important;
    padding-right: 2px!important;
   }
   .log_in{
       margin-top:17%
   }
    .search{
        height: 100%;
        align-self: center;
        margin-top: 10px;

    }
    
    .form-group{
        margin-top: 20px;

    }
    .blackplace{
        margin-top: 20px;

    }
    .card{
        height: 100%;
        margin-top: 10px;

    }
    


}