.login-page{
    background-image:url('../images/airport.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-box{
    background-color: #fff;
    color: #666;
    padding: 4%;
    margin-top: 10%;
    opacity: .8;
}
.sign_in_data{
    margin-top: 4%;
    color:white;
    padding-left: 0px;
    font-weight: 600;
}
.end_section:hover{
    color:black!important;
text-decoration: none;
}
.btn-primary{
   background-color:  #809fff!important;
   border-color: #809fff!important;
}
.sign{
    font-size: 22px;
}
.end_section{
color:  #809fff!important;
}