.bg-light-header
{background-color: #809fff!important;}
.nav-link{
    color:#ebebe0 !important;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin-top: 4%;
}

.log_in{
    font-size: 15px!important;
}
.inner-page-cover{
    background-image: url('../images/travel.jpg');
    background-attachment: scroll;
}